Since the remote server does not offer an HTTPS connection, the safest way to use the script is to download it to your
local server, then source it in locally using a relative path.

The script at {{{scriptSource}}} is referenced in {{{filename}}} on line {{startLine}}.

This should be downloaded to your local project's directory. The reference to that script within your view source should
be updated to use the relative path from your local server.