Since the remote servers listed below do not offer HTTPS connections, the safest way to use these scripts is to download
them to your local server, then source them in locally using relative paths. The following views contain references to
insecure scripts that are not accessible using the HTTPS protocol.

{{#views}}
    * {{{view}}}
    {{#scripts}}
        * {{{script}}}
    {{/scripts}}
{{/views}}
