This patch will update the line in `{{{path}}}` on line *{{startPos}}* from

```html
<script type="text/javascript" src="{{{scriptSource}}}"></script>
```

to

```html
<script type="text/javascript" src="{{{secureScriptSource}}}"></script>
```

We have verified the content of the script using https to be identical to the content of the script served using the
http protocol.