This patch updates the follow insecure source references to use the https protocol to mitigate against MiTM attacks.

We have verified all scripts using https to be identical to the content of the scripts served using the http protocol.
