## Background

We've identified that your application is configured to allow the session identifier to be passed between client and server via URL query string parameters. This could result in the session identifier being exposed via shoulder-surfing, browser history, copy-and-paste links, cross-site scripting attacks, and a variety of other channels. As a result, an attacker could hijack a victim's session by stealing the session identifier and using it to access your application.
