We have modified your Spring Security configuration to explicitly set the disable-url-rewriting flag to true. Before applying this configuration change, please ensure that your application is able to use cookies.

```xml
{{{xmlFile}}}
```
