## Function Stack
```javascript
{{{trace_stack}}}
```

## Background

When you want to go up a level in your filesystem on your computer, you likely use something along the lines of *cd ..* to go to the parent directory. Attackers have learned that this same standard shortcut can be used when programs reference paths on the server. In the security industry, this attack is commonly referred to as a **path traversal, directory traversal, directory climbing, or backtracking**. Put simply, the attack is based on missing validation of untrusted data used to build a path.